<div class="modal-header">
     <h3 class="modal-title">Adding contact.</h3>
</div>
<div class="modal-body">
    <form name="myForm" novalidate>
    <p>
        Firstname:
        <input type="text" name="firstname" ng-model="submitModel.name" required>
        <span style="color:red" ng-show="myForm.firstname.$dirty && myForm.firstname.$invalid">
            <span ng-show="myForm.firstname.$error.required">Firstname is required.</span>
        </span>
    </p>
    <p>
        Lastname:
        <input type="text" name="lastname" ng-model="submitModel.lastname">
    </p>
    <p>
        Nickname:
        <input type="text" name="user" ng-model="submitModel.nickname">
    </p>
    <p>
          Email: <input type="email" name="email" ng-model="submitModel.email" required>
    <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
        <span class="error" ng-show="myForm.email.$error.required">
              Email required!
        </span>
        <span class="error" ng-show="myForm.email.$error.email">
            Not valid email!
        </span>
     </span>
    </p>
    <div class="form-group">

        <button type="submit" ng-click="ok()" class="btn btn-primary pull-left"
                value="Submit" title="Submit" ng-disabled="myForm.firstname.$dirty && myForm.firstname.$invalid ||
  myForm.email.$dirty && myForm.email.$invalid ||
  myForm.lastname.$dirty && myForm.lastname.$invalid">
            <span>Add contact!</span>
        </button>
    </div></br></br>
    <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
        {{message}}
    </div>
</form>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
